{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block body %}
	<div id="pageOverlay" class="absolute block content-none w-[100%] bg-white opacity-95 z-50 top-0 left-0"></div>
	<div class="px-[10%] mt-[240px] flex flex-row">
		<div class="w-1/2">
			<h1 class="font-black text-th-h1 font-th-title tracking-th-h1">
				<span class="move-background table relative leading-[1] px-[10px] left-[-10px] bg-color-line bg-[length:100vw_4.2em] bg-repeat-x bg-[left_top] before:content-[''] before:block before:absolute before:top-[-10px] before:left-[-60px] before:w-[calc(100%+120px)] before:h-[calc(100%+20px)] before:bg-white  before:-z-10">Vous parlez,
				</span>
				<span class="move-background table relative leading-[1] px-[10px] left-[-10px] bg-color-line-offset bg-[length:100vw_4.2em] bg-repeat-x bg-[left_top] before:content-[''] before:block before:absolute before:top-[-10px] before:left-[-60px] before:w-[calc(100%+120px)] before:h-[calc(100%+20px)] before:bg-white  before:-z-10">nous racontons
				</span>
			</h1>
			<div class="mt-[60px] w-[90%]">
				<p class="ml-4 text-xl leading-normal">
					On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou moins normale, et en tout cas comparable avec celle du français standard.<br><br>
					De nombreuses suites logicielles de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes)
				</p>
			</div>
		</div>
		<div class="h-[700px] overflow-hidden mt-[70px]">
			<img src="{{ asset('assets/uploads/img/noir-et-blanc-garcon.webp')}}" alt="">
		</div>
	</div>

	{# Section presentation de l'équipe #}
	<section id="team" class="px-[10%] py-[8%] overflow-hidden">
		<h2 class="font-black text-th-h1 font-th-title tracking-th-h1">
			<span class="move-background table relative leading-[1] px-[10px] left-[-10px] bg-color-line bg-[length:100vw_4.2em] bg-repeat-x bg-[left_top] before:content-[''] before:block before:absolute before:top-[-10px] before:left-[-60px] before:w-[calc(100%+120px)] before:h-[calc(100%+20px)] before:bg-white  before:-z-10">Découvrez
			</span>
			<span class="move-background table relative leading-[1] px-[10px] left-[-10px] bg-color-line-offset bg-[length:100vw_4.2em] bg-repeat-x bg-[left_top] before:content-[''] before:block before:absolute before:top-[-10px] before:left-[-60px] before:w-[calc(100%+120px)] before:h-[calc(100%+20px)] before:bg-white  before:-z-10">l'équipe.
			</span>
		</h2>
		<p class="w-[47%] mt-[60px] text-xl leading-normal">On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.</p>

		<div class="flex flex-row mt-[70px] mb-[30px] items-center">
			<div class="container_dot h-[15px] w-[80%] bg-dot"></div>
			<div class="flex flex-row justify-around w-[20%] text-center">
				<div id="travail" class="travail w-1/2 py-1 text-white bg-black border-t-2 border-b-2 border-l-2 border-black rounded-l-3xl">Travail</div>
				<div id="loisir" class="loisir w-1/2 py-1 border-t-2 border-b-2 border-r-2 border-black rounded-r-3xl">Loisir</div>
			</div>
		</div>


		<div class="team-items block relative w-[calc(100%+30px)] h-auto overflow-visible mt-[-30px] ml-[-30px] float-left clear-both">

			{% for worker in workers %}
				<div class="team-item block relative float-left clear-none overflow-visible w-[calc(33.3%-30px)] h-auto ml-[30px] mt-[30px] opacity-100">
					<div class="btn-wrap absolute top-0 left-0 translate-x-[-50%] translate-y-[-50%] h-[50px] w-[50px] bg-white z-60 rounded-full opacity-0 cursor-pointer">
						<svg
							xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
							<!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
							<path fill="#46483c" d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c-9.4 9.4-9.4 24.6 0 33.9l47 47-47 47c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l47-47 47 47c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-47-47 47-47c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-47 47-47-47c-9.4-9.4-24.6-9.4-33.9 0z"/>
						</svg>
					</div>
					<div class="item-wrap block relative w-full h-full overflow-hidden cursor-pointer">
						<div class="bg-container  group/normal  block relative float-left clear-both w-full z-10 before:content-none before:block  before:relative before:float-left before:clear-both before:w-full before:!pt-[100%]">
							<div class="bg-wrap block absolute top-0 left-0 w-[200%] h-full z-0">

								{% set workImages = []%}
								{% set funImages = [] %}
								{% set colors = ['th-orange', 'th-vert', 'th-turquoize', 'th-beige'] %}
								{% set colorIndex = loop.index0 % 4 %}

								{% for picture in worker.pictures %}
									{% if picture.pictureFileName starts with 'work' %}
										{% set workImages = workImages|merge([picture]) %}
									{% elseif picture.pictureFileName starts with 'fun' %}
										{% set funImages = funImages|merge([picture]) %}
									{% endif %}
								{% endfor %}

								{% for picture in workImages %}
									<div class="bg-normal block relative float-left clear-none w-1/2 h-full bg-no-repeat bg-cover" style="background-image: url('/assets/uploads/img/{{ picture.picturefilename }}')"></div>
								{% endfor %}
								{% for picture in funImages %}
									<div class="bg-alt block relative float-left clear-none w-1/2 h-full bg-no-repeat bg-cover" style="background-image: url('/assets/uploads/img/{{ picture.picturefilename }}')"></div>
								{% endfor %}
								<div class="overlay pointer-events-none group-hover/normal:opacity-0 bg-{{ colors[colorIndex] }} mix-blend-multiply block absolute top-0 left-0 h-full w-full opacity-80"></div>
							</div>
						</div>
						<div class="item-infos block relative float-left clear-both w-full h-[80px] pt-[10px] text-lg leading-[100%] text-th-noir bg-white z-0 opacity-100">
							<span class="name block relative float-left z-20 leading-[110%] mb-[10px] font-black capitalize">{{ worker.firstname}}
								{{ worker.lastname}}</span>
							<span class="title block relative float-left clear-both z-20 leading-[110%]">{{ worker.position }}</span>
						</div>
					</div>

					<div class="bio block absolute top-0 left-[100%] w-full mx-[30px] text-th-noir z-100 overflow-visible opacity-0 pointer-events-none">
						<span class="name block relative float-left clear-both text-3xl z-20 leading-[110%] mb-[10px] capitalize font-black">{{ worker.firstname}}
							{{ worker.lastname}}</span>
						<span class="title block relative float-left clear-both z-20 leading-[110%] mb-[30px]">{{ worker.position }}</span>
						<span class="bio-content block relative float-left clear-both">{{ worker.presentation }}</span>
					</div>
				</div>
			{% endfor %}
		</div>

	</section>
{% endblock %}
